{% extends 'error/base.jinja' %}

{% block error_title %}
{{ _("Page does not exist.") }}
{% endblock %}

{% block error_message %}
{{ _("Your link is invalid or page has been removed.") }}
{% endblock %}

{% block error_button %}
<a class="btn btn-default btn-lg" href="/">{{ _("Main Page") }}</a>
{% endblock %}
